*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url('./woff2/Pretendard-Black.woff2') format('woff2'), url('./woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url('./woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('./woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('./woff2/Pretendard-Bold.woff2') format('woff2'), url('./woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url('./woff2/Pretendard-SemiBold.woff2') format('woff2'), url('./woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('./woff2/Pretendard-Medium.woff2') format('woff2'), url('./woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('./woff2/Pretendard-Regular.woff2') format('woff2'), url('./woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url('./woff2/Pretendard-Light.woff2') format('woff2'), url('./woff/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url('./woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('./woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url('./woff2/Pretendard-Thin.woff2') format('woff2'), url('./woff/Pretendard-Thin.woff') format('woff');
}


header{
    height: 70vh;
    width: 100vw;
    background-image: url(images/Subpage05/hero-image.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
}

.navbox{
    top: 0;
    width: 100vw;
    height: 80px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.774) 0%, rgba(255, 255, 255, 0) 100%);
}

.header-nav{
    width: 1280px;
    height: 80px;
    display: flex;
    margin-left: calc((100vw - 1200px)/2);
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #424242; 
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; 
    -webkit-text-stroke: 0.5px white;
    text-decoration: none;
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}



.nav01{
    color: #8276D7;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 20.8px */
    text-decoration: none;
    padding: 30px 40px 29px 40px;
}

.nav02{
    text-decoration: none;
    padding: 30px 40px 29px 40px;
    color: #757575;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.nav li a:hover{
    background-color: #DBE6F7;
    color: #8581DF;
}

.layout{
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-imgtextbox {
    width: 1000px;
    margin-left: calc((100vw - 1200px)/2);
    flex-direction: column;
    display: flex;
}

.herotext1{
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 67.2px */
    letter-spacing: -0.96px;
}

.content1{
    width: 1200px;
    height: 36px;
    display: flex;
    margin-top: 80px;
    margin-left: calc((100vw - 1200px)/2);
    color: #424242;
    text-align: center;
    /* headline_eng/h4 24px medium */
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 36.4px */
    align-items: center;
    justify-content: center;
}
.content2{
    width: 1200px;
    height: 43px;
    display: flex;
    margin-left: calc((100vw - 1200px)/2);
    color: #424242;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%; /* 43.2px */
    align-items: center;
    justify-content: center;
}
.content3{
    width: 1200px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc((100vw - 1200px)/2);
    margin-top: 40px;
}
.content3 a{
    display: inline-flex;
    width: 180px;
    height: 37px;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid var(--02, #B7B7B7);
    color: var(--03, #949494);
    /* body_eng/p3 16px medium */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    text-decoration: none;
}
.box01:not(:last-child){
    margin-right: 28px;
}
.box02{
    background: #8276D7;
    margin-right: 28px;
    display: inline-flex;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.text05{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.8px */
}

.content4{
    width: 1200px;
    height: 408px;
    display: flex;
    justify-content: space-between;
    margin-left: calc((100vw - 1200px)/2);
    margin-top: 60px;
    margin-bottom: 100px;
}

.content5{
    width: 1200px;
    height: 409px;
    display: flex;
    justify-content: space-between;
    margin-left: calc((100vw - 1200px)/2);
    margin-bottom: 200px;
}
.content4-1{
    width: 276px;
    height: 408px;
    display: flex;
    flex-direction: column;
}
.content4-2{
    width: 276px;
    height: 408px;
    display: flex;
    flex-direction: column;
}
.content4-3{
     width: 276px;
    height: 408px;
    display: flex;
    flex-direction: column;
}
.content4-4{
    width: 276px;
     height: 408px;
     display: flex;
     flex-direction: column;
}
.content5-1{
    width: 276px;
    height: 409px;
    display: flex;
    flex-direction: column;
}
.content5-2{
    width: 276px;
    height: 409px;
    display: flex;
    flex-direction: column;
}
.content5-3{
     width: 276px;
    height: 409px;
    display: flex;
    flex-direction: column;
}
.content5-4{
    width: 276px;
     height: 409px;
     display: flex;
     flex-direction: column;
}
.content4-1 .image2{
    background-image: url(images/Subpage06/Subpage6\ image\ 01-1.png);
    background-size: cover;
    background-position: center;
}
.content4-2 .image2{
    background-image: url(images/Subpage06/Subpage6\ image\ 01-2.png);
    background-size: cover;
    background-position: center;
}
.content4-3 .image2{
    background-image: url(images/Subpage06/Subpage6\ image\ 01-3.png);
    background-size: cover;
    background-position: center;
}
.content4-4 .image2{
    background-image: url(images/Subpage06/Subpage6\ image\ 01-4.png);
    background-size: cover;
    background-position: center;
}
.content5-1 .image2{
    background-image: url(images/Subpage06/Subpage6\ image\ 01-5.png);
    background-size: cover;
    background-position: center;
}
.content5-2 .image2{
    background-image: url(images/Subpage06/Subpage6\ image\ 01-6.png);
    background-size: cover;
    background-position: center;
}
.content5-3 .image2{
    background-image: url(images/Subpage06/Subpage6\ image\ 01-7.png);
    background-size: cover;
    background-position: center;
}
.content5-4 .image2{
    background-image: url(images/Subpage06/Subpage6\ image\ 01-8.png);
    background-size: cover;
    background-position: center;
}



.image2{
    width: 276px;
    height: 280px;
}
.text2{
    width: 276px;
    height: 117px;
    color: #9E9E9E;
    /* Body_kor/p5 16px Light */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%; /* 28.8px */
    margin-top: 12px;
}
.text3{
    width: 276px;
    height: 117px;
    color: #9E9E9E;
    /* Body_kor/p5 16px Light */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%; /* 28.8px */
    margin-bottom: 12px;
}








footer{
    background-color: #424242;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footertext{
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 15.6px */;
}
